<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DVDs & BlueRays</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/index.css') }}/>
    <link rel="icon" type="image/png" href={{ url_for('static', filename='images/favicon.png') }}>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <iframe src={{url_for('iframes', name='header.html')}}></iframe>
      </header>

      <div id="central">
        <nav>
          <iframe src={{url_for('iframes', name='menu.html')}}></iframe>
        </nav>

        <div id="contentpart">
          {%  block content %} {% endblock %}
        </div>

        <div id="busqueda">
          <h1>Búsqueda</h1>
          <form action={{url_for('resultados')}} method="get">
            <input type="text" placeholder="Introduce el texto a buscar..." name="searchparam" size="25"><br><br>
            <input type="radio" name="textchoice" value="actdir">
            Actor/Director
            <input type="radio" name="textchoice" value="titulo" checked>
            Título
            <br><br>
            <select id="generos" name="genero">
              <option class="option" value="cualquiera">Todos</option>
              <option class="option" value="Horror">Horror</option>
              <option class="option" value="Reality-TV">Reality-TV</option>
              <option class="option" value="Sport">Sport</option>
              <option class="option" value="Action">Action</option>
              <option class="option" value="Mystery">Mystery</option>
              <option class="option" value="Thriller">Thriller</option>
              <option class="option" value="Family">Family</option>
              <option class="option" value="Comedy">Comedy</option>
              <option class="option" value="Film-Noir">Film-Noir</option>
              <option class="option" value="Adventure">Adventure</option>
              <option class="option" value="Talk-Show">Talk-Show</option>
              <option class="option" value="Crime">Crime</option>
              <option class="option" value="History">History</option>
              <option class="option" value="Documentary">Documentary</option>
              <option class="option" value="Romance">Romance</option>
              <option class="option" value="Drama">Drama</option>
              <option class="option" value="Fantasy">Fantasy</option>
              <option class="option" value="Music">Music</option>
              <option class="option" value="Short">Short</option>
              <option class="option" value="Western">Western</option>
              <option class="option" value="Musical">Musical</option>
              <option class="option" value="Sci-Fi">Sci-Fi</option>
              <option class="option" value="Animation">Animation</option>
              <option class="option" value="Biography">Biography</option>
              <option class="option" value="War">War</option>
              <option class="option" value="Game-Show">Game-Show</option>
              <option class="option" value="Adult">Adult</option>
            </select>
            <br><br>
            <button id="searchbutton">
              Buscar
            </button>
          </form>
        </div>

      </div>

      <footer>
        <iframe src="{{url_for('iframes', name='footer.html')}}"></iframe>
      </footer>
    </div>
  </body>
</html>
