{% extends "base.html" %}

{% block content %}
<h1>Resultados de búsqueda</h1>
  <div id="overflow">
    {% if movies|length == 0 %}
      <p> No hay resultados para la búsqueda. </p>
    {% else %}
      <table>
        <thead>
          <tr>
            <th>Portada</th>
            <th>Título</th>
            <th>Versión</th>
            <th>Director</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
        {% for item in movies %}
          <tr>
            <td><a href={{url_for('detalle',id=item[1])}}><img class="portada" src={{ url_for('static', filename='portadas/placeholder.png') }} alt="Portada"></a></td>
            <td><a href={{url_for('detalle',id=item[1])}}>{{item[0]}}</a></td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[2]~'€'}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
