<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/header.css') }}/>
    <meta charset="utf-8">
    <base target="_parent">
    <title>Titulo</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href={{url_for('index')}}>
          <img src={{ url_for('static', filename='images/logo.png') }} id="logoimg" alt="Logo">
        </a>
      </div>
      <div id="eslogan">
        <h1>DVDs & BlueRays</h1>
      </div>
    </header>
  </body>
</html>
