{% extends "baseNB.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src={{url_for('static', filename='javascript/historial.js')}} charset="utf-8"></script>
<h1>Historial</h1>
  <div id="overflow">
    {% if hist|length == 0 %}
      <p> No se han realizado pedidos en esta cuenta. </p>
    {% else %}
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th class="toggable" hidden></th>
          </tr>
        </thead>
        <tbody>
        {% for item in hist %}
          <tr>
            <td>{{item.fecha}}</td>
            <td>{{item.total}}</a></td>
            <td>
              <button class="show" onclick="toggler({{item.id}});">Mostrar detalles</button>
            </td>
          </tr>
          <tr>
            <thead class="detailsHist" id="{{item.id}}">
              <th>Película</th>
              <th>Cantidad</th>
              <th>Precio por película</th>
            </thead>
          </tr>

        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  {% if carr|length != 0 %}
    <p>Precio total: {{suma}} €</p>
    <form action="{{url_for('carrito')}}" method="post">
      <button type="submit" name="buttonCarrito">Comprar</button>
    </form>
  {% endif %}
  <br><br>
  {% if msg %}
    <p>{{msg}}</p>
  {% endif %}
{% endblock %}
