{% extends "base.html" %}

{% block content %}
  <h1>Novedades</h1>
  <div id="novedades">
    {% for item in movies %}
    {% if item.dest %}
    <div class="novedad">
        <a href={{'detalle/'~item.id}}>
          <img class="portada" src={{ url_for('static', filename='portadas/'~item.id~'.jpg') }} alt="Portada">
        </a>
        <div class="datos">
          <h4>{{item.titulo}}</h4>
          <p>Sinopsis: {{item.sinopsis}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
