{% extends "baseNB.html" %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post" novalidate>
        <label><b>Email</b></label>
        <input name="email" type="text" placeholder="Enter username">
        <label><b>Contraseña</b></label>
        <input name="contrasena" type="password" placeholder="Enter password">
        <input type="submit" value="Login">
    </form>
    {% if errorvacio %}
      <p class="err"> Rellene todos los campos </p>
    {% elif erroruser %}
      <p class="err"> No existe una cuenta con este email </p>
    {% elif errorpass %}
      <p class="err"> Contraseña incorrecta </p>
    {% endif %}
{% endblock %}
