<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/menu.css') }}/>
    <base target="_parent">
    <title>Menu</title>
  </head>
  <body>
    <br>
    <a class="menubutton" href={{url_for('index')}}>
      Página Principal
    </a>
    <br><br>
    <a class="menubutton" href={{url_for('index')}}>
      Login
    </a>
    <br><br>
    <a class="menubutton" href={{url_for('registro')}}>
      Registro
    </a>
    <br><br>
    <a class="menubutton" href={{url_for('index')}}>
      Simular Login
    </a>
  </body>
</html>
