#logo{
  width: 15%;
  float: left;
  margin-left: 2.5%;
}

h1 {
  font-family: sans-serif;
  font-style: italic;
  color: #FFFFFF;
  background: #333333;
}

#logoimg{
  width: 100%;
  height: 100%;
}

#eslogan{
  margin-left: 5%;
  margin-top: 2%;
  float: left;
  height: 100%;
}
