iframe {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  background-color: #b9c6ae;
  border: 1px solid black;
  width: 99%;
  height: 15%;
}

#searchbutton {
  background-color: #474056;
  color: #b9c6ae;
  border: 1px solid black;
  border-radius: 30%;
  width: 50%;
}

#menu {
  background-color: #8a95a5;
  border: 1px solid black;
  width: 10%;
  height: 70%;
  float: left;
}

#content {
  background-color: #757083;
  width: 69%;
  height: 70%;
  float: left;
  border: 1px solid black;
  text-align: center;
}

#busqueda {
  background-color: #8a95a5;
  border: 1px solid black;
  width: 20%;
  height: 70%;
  float: left;
  font-family: sans-serif;
  text-align: center;
}

footer {
  background-color: #b9c6ae;
  border: 1px solid black;
  width: 99%;
  height: 14%;
  clear: both;
}

.novedad {
  background-color: #757083;
  height: 80%;
  width: 33%;
  float: left;
}

.portada {
  background-color: #757083;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#generos {
  width: 50%;
}

.option {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
