.menubutton{
  text-align: center;
  /*margin-top: 30%;
  margin-bottom: 30%;
  border: 1px solid black;*/
  font-family: sans-serif;
  color: grey;
  width: 100%;
}

.menubutton:hover{
  color: white;
}

a{
  text-decoration: none;
}
